<h1>LoveLetter#index</h1>
<form action="/love_letters" method="post">
  <input type="text" name="message">
  <input type="hidden" name="lover_id" value="<%= @lover_id %>">
  <button>Create</button>
</form>

