<!DOCTYPE html>
<html ng-app="KittiesApp">
<head>
  <meta charset="utf-8">
  <title>Kitties App!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="./app.js"></script>
  <script src="./kitties_controller.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div ng-controller="KittiesController as cat" id="container">
    <div class="left-container">
      <h1>Kitties for Adoption</h1>
      <ul>
        <li ng-class="{dashed: kitty.monthsOld < 3}" ng-hide="kitty.adopted" ng-repeat="kitty in cat.kitties">{{kitty.catName}}<button ng-click="cat.adopted($index)"> adopted!</button><button ng-click="cat.remove($index)">Remove</button></li>
      </ul>
    </div>
    <div class="right-container">
      <h1>At their forever homes <3</h1>
      <ul >
        <li ng-if="kitty.adopted" ng-repeat="kitty in cat.kitties">{{kitty.catName}}<button ng-click="cat.remove($index)">Remove</button></li>
      </ul>
    </div>
      <form>
        <label>Name</label>
        <input type="text" ng-model="cat.catName">
        <label>Age</label>
        <input type="text" ng-model="cat.monthsOld">
        <label>Gender</label>
        <input type="text" ng-model="cat.gender">
        <label>Image</label>
        <input type="text" ng-model="cat.image">
        <button ng-click="cat.add()">Add new cat</button>
      </form>
  </div>
</body>
</html>
