<h1><%= @user.name %></h1>

<div class="row">
  <%= link_to 'Edit Your Profile', edit_user_path(@user), :class => 'btn btn-warning btn-lg active col-xs-12 col-md-6' %>

  <%= link_to 'Delete Your Profile', user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger btn-lg active col-xs-12 col-md-6' %>
</div>
