<form action="dumb_waiter" method="posts">
<%= radio_button_tag(:show, "show") %>
<%= label_tag(:show, "show") %>
<%= radio_button_tag(:hide, "hide") %>
<%= label_tag(:hide, "hide") %>
  <button>Submit</button>
</form>
